{{define "title"}}{{.title}}{{end}}

{{define "content"}}
<div class="top-content">
    <div class="campaign-title"><h1>売上キャンペーン</h1></div>
    <div class="campaign-center-main">
        <img src="../../static/img/売上キャンペーン.png" alt="" style="padding-top: 30px;">
        <br><br><br><p style="font-size: 24px; color: rgb(255, 0, 0);">売上キャンペーン</p><br>
        
        <p>4月30日までの売上手数料が14%→10%になります。</p><br>
        <p>例</p>
        <p>100000円で出品した商品が売れた場合、</p>
        <p>出品者は90000円が売上になります。</p><br><br><br>

        <a href="/sell-items-form" style="color: rgb(0, 183, 255); border-bottom: 1px solid rgb(0, 183, 255);">今すぐ出品</a><br><br><br>



        
    </div>
</div>
{{end}}