{{define "title"}}{{.title}}{{end}}

{{define "content"}}
<div class="top-content">
    <div class="campaign-title"><h1>ArtMktとは？</h1></div>
    <div class="campaign-center-main">
        <img src="../../static/img/artmktimg.png" alt="">
        <br><br><br><p>Artmktとは、</p>
        <p>ユーザー間で美術品の「出品」、「購入」が可能な</p>
        <p>マーケットプレイスです。</p><br><br><br>

        <img src="../../static/img/artmktimg2.png" alt="">
        <br><br><br><p>お気に入りのアーティストをフォローして</p>
        <p>アーティストの美術品をチェックできます。</p><br><br><br>

        <br><br><br><a href="/sell-items-form" style="color: rgb(0, 183, 255); border-bottom: 1px solid rgb(0, 183, 255);">今すぐ出品</a>
        <p><a href="/" style="color: rgb(0, 183, 255); border-bottom: 1px solid rgb(0, 183, 255);">今すぐ美術品を探す</a></p><br><br><br>
    </div>
</div>
{{end}}