{{define "title"}}{{.title}}{{end}}

{{define "content"}}
<div class="top-content">
    <div class="campaign-title"><h1>簡単出品ガイド</h1></div>
    <div class="campaign-center-main">
        
        <br><br><br><p>商品を出品するには、ログインする必要があります。</p>
        <p><a href="/loginform" style="color: rgb(0, 183, 255); border-bottom: 1px solid rgb(0, 183, 255);">ログイン</a>する</p><br>
        <img src="../../static/img/loginform.png" alt="">
        
        <br><br><br><br><br><p>マイページの<a href="//sell-items-form" style="color: rgb(0, 183, 255); border-bottom: 1px solid rgb(0, 183, 255);">出品登録フォーム</a>を開きます。</p><br>
        

        <img src="../../static/img/sellitem.png" alt="">

        <br><br><br><br><br><p>振込先情報が未登録であれば、登録する。</p>
        <p>振込先情報に商品の売上を振り込みます。</p><br>
        <img src="../../static/img/振込先.png" alt="">

        <br><br><br><br><br><p>返品先情報が未登録であれば、登録する。</p>
        <p>返品先情報は購入者が返品する際に使用します。</p><br>
        <img src="../../static/img/返品先.png" alt="">

        <br><br><br><br><br><p>商品名、商品説明、商品価格、カテゴリー、商品画像3枚を入力または選択します。</p>
        <p>画像は購入者側への配慮として3枚選択します。</p>
        <p>利用規約に同意し、登録ボタンをクリック。</p>
        <img src="../../static/img/sellitem.png" alt="">

        <br><br><br><br><br><p>出品した商品は、マイページの<a href="//sell-items-form" style="color: rgb(0, 183, 255); border-bottom: 1px solid rgb(0, 183, 255);">登録した商品</a>から確認できます。</p>
        <br><br><br><br><br>
    </div>
</div>
{{end}}